.register_container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_container .page_content {
    width: 100%;
    padding: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register_container .page_content section {
    width: 100%;
    max-width: 380px;
}

.register_container .page_content form h1 {
    font-size: 32px;
    margin: 20px 0 20px;
    color: #747474;
    text-align: center;
}

.register_container .page_content section p {
    font-size: 16px;
    color: #737382;
    line-height: 30px;
}

.register_container .page_content form {
    width: 100%;
    max-width: 450px;
}

.register_container .page_content form input {
    margin-top: 8px;
}

.register_container .page_content form .group_input input + input {
    margin-left: 8px;
}

.group_input {
    display: flex;
}