.profile_container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_container .content {
    width: 100%;
    padding: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.profile_container .content section {
    width: 100%;
    max-width: 380px;
}

.profile_container .content form h1 {
    font-size: 32px;
    margin: 20px 0 20px;
    color: #747474;
    text-align: center;
}

.profile_container .content form {
    width: 100%;
    max-width: 550px;
}

.profile_container .content form input {
    margin-top: 8px;
}

.profile_container .content section p {
    font-size: 16px;
    color: #737382;
    line-height: 30px;
}