.login_container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container .page_content {
    width: 100%;
    padding: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_container .page_content section {
    width: 100%;
    max-width: 380px;
}

.login_container .page_content form {
    width: 100%;
    max-width: 450px;
}

.login_container .page_content form input {
    margin-top: 8px;
}

.login_container .page_content section h1 {
    font-size: 30px;
    margin: 20px 0 20px;
    text-align: center;
    color: #747480; 
}

.login_container .img_content {
    padding: 96px;
}