.cases_container {
    width: 100%;
    max-width: 1200px;
    margin: 1px auto;
}

.cases_container header {
    display: flex;
    align-items: center;
}

.cases_container header span {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 24px; 
 }

.cases_container header .btn {
    height: 50px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.cases_container header .btn:hover {
    filter: brightness(90%); 
}

.cases_container .left {
    margin-left: auto;
}

.cases_container .newCaseBtn {
  height: 50px;
  border: 0;
  border-radius: 8px;
  width: 100%;
  background-color: #ff0054;
  opacity: 0.9;
  color: #fff;
  font-size: 16px;
  margin-right: 16px;
  transition: filter 0.2s;
}

.cases_container .newCaseBtn:hover {
    filter: brightness(90%); 
  }

.cases_container h1 {
    margin-top: 60px;
    margin-bottom: 24px;
    color: #41414d;
}

.cases_container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
}

.cases_container ul li {
    background-color: rgba(234, 196, 0, 0.1);
    border: 1px solid #ddd;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.cases_container .delete {
    border: 1px solid #fff;
}

.cases_container ul li .delete {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
    transition: opacity 0.2s;
}

.cases_container ul li .delete:hover {
    opacity: 0.5;
}

.cases_container ul li strong {
    display: block;
    color: #41414d;
}

.cases_container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
    margin-bottom: 16px;
}