@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif; 
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 16px Roboto, sans-serif; 
}

button {
  cursor: pointer;
}

form input {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #dcdce6; 
  padding: 0 24px;
  color: #333;
}

form textarea {
  width: 100%;
  min-height: 140px;
  color: #333;
  border: 1px solid #dcdce6; 
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
  resize: vertical;
  margin-top: 8px !important;
}

.button {
  height: 50px;
  border: 0;
  border-radius: 8px;
  width: 100%;
  background-color: #ff0054;
  opacity: 0.9;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2em;
  margin-top: 10px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%); 
}

.profile-btn {
  height: 50px;
  border: 0;
  border-radius: 8px;
  border: 1px solid #ff0054;
  width: 100%;
  max-width: 120px;
  background-color: #fff;
  opacity: 0.9;
  color: #ff0054;
  font-size: 16px;
  transition: filter 0.2s;
}

.profile-btn:hover {
  filter: brightness(90%); 
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #41414d;
  text-decoration: none;
  font-weight: 500;
}

.back-link svg {
  margin-right: 8px;
}